<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanton Homepage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome to the Stanton Homepage!</h1>
    <h2>Top ten favorite video games / series:</h2>
    <h3>1. Splatoon</h3>
    <h3>2. Super Smash Bros</h3>
    <h3>3. Blazblue</h3>
    <h3>4. Taiko no Tatsujin</h3>
    <h3>5. The Legend of Zelda</h3>
    <h3>6. Monster Hunter</h3>
    <h3>7. Mario Kart</h3>
    <h3>8. Minecraft</h3>
    <h3>9. Fire Emblem</h3>
    <h3>10. Portal</h3>
    <h2>Video games have always been a huge part of my life and helps keep me and my friends connected. 
        For my top three favorite games, I've had a lot of fun playing them casually and competitively.
        Being able to see myself improve and become part of a larger community is what makes those games worth playing. 
        Playing these games started by seeing who was the best in the friendgroup. The skill gap in Smash Bros and Blazblue is close,
        but in Splatoon I'm far above everyone else. This is mainly because I spent way too much time learning the meta, playing ranked matches,
        and practicing tech. Overall, I love the mechanics and feel of the game and have clocked in 1000+ hours in both games combined.</h2>
    <a href="/addToList.html">Add To List</a>
    <a href="/loginPage.html">Login Page</a>
</body>
</html>